@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: var(--body-font);
}
:root {
    --header-height: 3.5rem;
    --first-color: hsl(28, 88%, 62%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 0%);
    --color-text: #000080;
    --body-color: #ffa60026;
    --body-font: "Montserrat", sans-serif;
    --second-font: "Dancing Script", cursive;
    --h2-font-size: 1.25rem;
    --small-font-size: 0.813rem;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
}